@import "tailwindcss";

@font-face {
  font-family: 'Barrio';
  src: url('/fonts/Barrio-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Anonymous Pro';
  src: url('/fonts/AnonymousPro-Regular.ttf') format('truetype');
}

/* Puis Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force la police */
.font-barrio {
  font-family: 'Barrio', cursive !important;
}
.font-anonymous {
  font-family: 'Anonymous Pro', cursive !important;
}